%ul.history-sidenav
  %li #{link_to "Governing Documents", history_governing_documents_path}
  %li #{link_to "History", history_path}
  %li #{link_to "Six Principles", history_six_principles_path}
  %li #{link_to "Vision Statement", history_vision_statement_path}