.row
  .col-lg-8
    %h1 The Six Principles
    %p In 1999 the Trustees of Dartmouth College mandated that the CFS system institute a set of reforms that would create a Greek system that better reflected the values and principles of the Dartmouth Community.  Undergraduates, alumni and staff from ORL spent many long hours discussing what those values and principles were, and how to hold organizations accountable for instituting those values.

    %p In 2000 the CFS announced what came to be known as The Six Principles: accountability, scholarship, leadership, brotherhood/sisterhood, inclusiveness, and service/philanthropy.  A process known as the Annual Action Plan was put in place.  This required every CFS organization to establish a set of goals and aspirations directed at achieving the Six Principles.

    %p Every term Alpha Delta is required to submit an Action Plan setting goals that reflect the Six Principles, and detailing what they plan to do to meet those goals.  This is a process that should include participation by officers and other leaders, and should involve serious thought about what AD wants to achieve.  While the Action Plan is a set of specific goals, they are not necessarily the “last word” on what each organization will do during the upcoming term.  For example, AD may find that there are opportunities that arise that they may have not anticipated while writing their action plan.  That does not mean that AD shouldn’t take advantage of those opportunities - we should.  At the same time, we may find that some of the goals we set were unrealistic or overly ambitious.  This is often that case for any organization, and failure to meet all of the goals that have been set does not indicate a lack of success.  However, a good faith effort should be made to reach all the goals we established

    %p It is important that everyone understand the goals we have set, and that each officer understands what his responsibilities are in meeting those goals.  Both leadership by the officers and participation by the entire brotherhood is necessary if we are to make a reasonable effort to meet the Six Principles and achieve the goals we have set in our Action Plan.
  .col-lg-1
  .col-lg-3
    =render 'history/sidenav'



