.row
  .col-lg-8
    %h1 Vision Statement
    %p Alpha Delta Fraternity was established at Dartmouth College in 1846, making it the 3rd oldest fraternity on campus.  It was originally a chapter of Alpha Delta Phi International, but in 1969, under the leadership of Douglas (No Phi) Reynolds ’69, AD broke from the International.   We take great pride in the fact that since our founding in 1846, Alpha Delta has never had a discrimination clause in its charter or constitution.  Alpha Delta also takes great pride in the contributions and achievements of our alumni brothers.  Among the prominent alumni of Alpha Delta are: Chief Justice of the United States Salmon P. Chase (Class of 1826), Pulitzer Prize winning poet and former U.S. Poet Laureate Richard Eberhart (Class of 1926), Former CEO of NBC Television Grant Tinker (Class of 1947), Former Dean of the Faculty at Dartmouth and Director of the SAGE Center for the Study of the Mind at UCSB Michael Gazzaniga (Class of 1961), author of Animal House Chris Miller (Class of 1963), Former Provost of University of Michigan, current President of Dartmouth College Philip Hanlon (Class of 1977), Associate Justice of the NH Supreme Court James Bassett (Class of 1978), CEO of the United States Olympic Committee Scott Blackmun (Class of 1979), Senior Writer for ESPN Magazine Ric Bucher (Class of 1983), Founder and CEO of Kayak.com Steven Hafner (Class of 1992), White House Correspondent of The Huffington Post Sam Stein (Class of 2004).

    %p The objectives of Alpha Delta Fraternity are the cultivation of character, learning, and enduring friendships. Our current membership is involved in a wide variety of activities, ranging from athletics and student government, to the performing arts and the Tucker Foundation.  We value the principles of leadership, scholarship, service and philanthropy, diversity, accountability, and brotherhood – and are looking for members who hold those same values.  These are the principles around which the fraternity is organized.  We take these principles seriously, and expect all new members of Alpha Delta to embrace them, to add value to the fraternity experience, and to contribute towards making the Dartmouth community a better place for all people.
  .col-lg-4
    =render 'history/sidenav'



