%h1 Photos:
%object{:height => "300", :width => "400"}
  %param{:name => "flashvars", :value => "offsite=true&lang=en-us&page_show_url=%2Fphotos%2F125437180%40N02%2Fsets%2F72157644791513879%2Fshow%2F&page_show_back_url=%2Fphotos%2F125437180%40N02%2Fsets%2F72157644791513879%2F&set_id=72157644791513879&jump_to="}
  %param{:name => "movie", :value => "https://www.flickr.com/apps/slideshow/show.swf?v=143270"}
  %param{:name => "allowFullScreen", :value => "true"}
  %embed{:allowFullScreen => "true", :flashvars => "offsite=true&lang=en-us&page_show_url=%2Fphotos%2F125437180%40N02%2Fsets%2F72157644791513879%2Fshow%2F&page_show_back_url=%2Fphotos%2F125437180%40N02%2Fsets%2F72157644791513879%2F&set_id=72157644791513879&jump_to=", :height => "300", :src => "https://www.flickr.com/apps/slideshow/show.swf?v=143270", :type => "application/x-shockwave-flash", :width => "400"}


%br/
= link_to 'Create New Album', 'https://www.flickr.com/photos/organize/?start_tab=new_set', class: 'btn btn-primary make-btn'


%h1 Composites: