
.row
  .col-lg-8.job-posting
    =link_to job_posting.position, job_posting_path(job_posting), class: "job-pos"
    %span.job-co -- #{job_posting.company}
    %p.job-loc #{job_posting.location}
    %p #{truncate(job_posting.job_description, 25)}

    %p Expiration date: #{job_posting.expiration_date.strftime("%B %d, %Y")}



