// Place all the styles related to the JobPostings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.job-posting{
	margin-top: 10px;
	border-bottom: 1px solid #696969;
	font-size: 120%;
}

span.job-co{
	
}

p.job-loc{
	color: #898989;
	font-style: italic;
}
a.job-pos{
	margin-bottom: 10px;
	font-weight: bold;
}